* {
    font-family: 'Open Sans Hebrew Condensed', sans-serif;
}

.map {
    position: relative;
    background-color: azure;
    height: 100vh;
    background-image: url('./images/map.svg');
    background-size: cover; // Adjust as needed
    background-position: center; // Adjust as needed
    background-repeat: no-repeat;
    overflow: hidden;
}

.day7-10 {
    //1
    position: absolute;
    top: 10%;
    left: 85%;
    //dasda
}

.day8-10 {
    //2
    position: absolute;
    top: 13.9%;
    left: 52%;
}

.day9-10 {
    //3
    position: absolute;
    top: 20%;
    left: 1%;
}

.day10-10 {
    //4
    position: absolute;
    top: 30%;
    left: 25%;
}

.day11-10 {
    //5
    position: absolute;
    top: 40%;
    left: 49%;
}

.day12-10 {
    //6
    position: absolute;
    top: 43%;
    left: 15%;
}

.day13-10 {
    //7
    position: absolute;
    top: 52%;
    left: 2%;
}

.day14-10 {
    //8
    position: absolute;
    top: 58%;
    left: 24%;
}

.day15-10 {
    //9
    position: absolute;
    top: 60%;
    left: 69%;
}

.day16-10 {
    //10
    position: absolute;
    top: 70%;
    left: 70%;
}

.day17-10 {
    //11
    position: absolute;
    top: 74.5%;
    left: 54%;
}

.day18-10 {
    //12
    position: absolute;
    top: 86.3%;
    left: 55%;
}